a { color: #111; text-decoration: none; }
a:hover { opacity: 0.8; }
blockquote { margin: 0; padding: 0; }
html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin: 0; }
ul { margin: 0; padding: 0; }

.sans-serif { font-family: 'Overpass', sans-serif; }
.serif { font-family: 'Lora', serif; }
.ups { text-transform: uppercase; }

.post-content { color: #0b0b0b; }
.post-content p { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.post-content strong { color: #111; }
