{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
      "name": "varnish-vcl",
      "host": {
        "sourcePath": "/var/app/current/varnish.vcl"
      }
    }
  ],
  "containerDefinitions": [
    {
      "environment": [
        {
          "name": "DB_NAME",
          "value": ""
        },
        {
          "name": "DB_USER",
          "value": ""
        },
        {
          "name": "DB_PASSWORD",
          "value": ""
        },
        {
          "name": "DB_HOST",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_BUCKET",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_KEY",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_SECRET",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_REGION",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_USE_LOCAL",
          "value": ""
        },
        {
          "name": "S3_UPLOADS_BUCKET_URL",
          "value": ""
        },
        {
          "name": "AUTH_KEY",
          "value": ""
        },
        {
          "name": "AUTH_SALT",
          "value": ""
        },
        {
          "name": "LOGGED_IN_KEY",
          "value": ""
        },
        {
          "name": "LOGGED_IN_SALT",
          "value": ""
        },
        {
          "name": "NONCE_KEY",
          "value": ""
        },
        {
          "name": "NONCE_SALT",
          "value": ""
        },
        {
          "name": "SECURE_AUTH_KEY",
          "value": ""
        },
        {
          "name": "SECURE_AUTH_SALT",
          "value": ""
        },
        {
          "name": "WP_DEBUG",
          "value": ""
        }
      ],
      "image": "<REPO_URI_BASE>/<WORDPRESS_REPO_NAME>:latest",
      "memory": 384,
      "name": "wordpress"
    },
    {
      "essential": true,
      "image": "<REPO_URI_BASE>/<REACT_REPO_NAME>:latest",
      "memory": 128,
      "name": "react"
    },
    {
      "essential": true,
      "image": "million12/varnish",
      "links": [
        "react",
        "wordpress"
      ],
      "memory": 256,
      "mountPoints": [
        {
          "sourceVolume": "varnish-vcl",
          "containerPath": "/etc/varnish/default.vcl",
          "readOnly": true
        }
      ],
      "name": "varnish",
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ]
    }
  ]
}
