.content-editable {
  $iconWidth: 1.25rem;
  $iconMarginX: 1rem;

  border: 1px dashed transparent;
  margin-left: ($iconWidth + ($iconMarginX * 2)) * -1;

  &:hover {
    background-color: #fffef9;
    border-color: #ddd;
    cursor: text;

    > svg { opacity: 1; }
  }

  > svg {
    color: #444;
    font-size: 1rem;
    margin: 0 $iconMarginX;
    opacity: 0.25;
    width: $iconWidth;
  }
}
