$progressEndColor: #2ECC40;
$progressStartColor: rgba(46, 204, 64, 0.95);

.header-logo {
  max-width: 180px;
  @media (min-width: 40em) { max-width: 200px; }
  @media (min-width: 64em) { max-width: 260px; }
}

.header-icon {
  height: 30px; width: 30px;
  @media (min-width: 40em) { height: 40px; width: 40px; }
}

.header-scroll {
  $height: 44px;

  height: $height;

  &.header-scroll-show { transform: translateY(-0); transition: transform 500ms ease-out; }
  &.header-scroll-hide { transform: translateY(-$height); transition: transform 250ms ease-out; }

  .header-scroll-logo { max-height: 70%; }
}

// useful: http://bennettfeely.com/clippy/
.header-progress-arrow {
  background: $progressEndColor;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  position: relative;
  left: -1px;
}

.header-progress-gradient {
  background: linear-gradient(to right, $progressStartColor, $progressEndColor);
}
