$progressStartColor: #2ECC40;
$progressEndColor: darken(#2ECC40, 30%);
$progressFinishColor: #2ECC40;

.header-bg-black {
  background-color: rgba(#111, 0.90);
}

.header-icon {
  height: 30px; width: 30px;
  @media (min-width: 40em) { height: 40px; width: 40px; }
}

.header-logo {
  max-width: 180px;
  @media (min-width: 40em) { max-width: 200px; }
  @media (min-width: 52em) { max-width: 260px; }
}

.header-progress-text {
  color: rgba(#fff, 0.35);
  font-size: 0.5rem;
  padding-left: 0.25rem;
}

// useful: http://bennettfeely.com/clippy/
.header-progress-arrow {
  background: $progressEndColor;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  position: relative;
  left: -1px;
}

.header-progress-finished {
  background: $progressFinishColor;
  transition: transform 500ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;

  &.col-12 { transform: scaleX(1); }
}

.header-progress-gradient {
  background: linear-gradient(to right, $progressStartColor, $progressEndColor);
}

.header-scroll {
  $height: 40px;

  height: $height;

  &.header-scroll-show { transform: translateY(-0); transition: transform 500ms ease-out; }
  &.header-scroll-hide { transform: translateY(-$height); transition: transform 250ms ease-out; }

  .header-scroll-logo { max-height: 70%; }
}
