.post-content {
  color: #0b0b0b;
  font-size: 1.125rem;
  line-height: 1.7;
  img {
    $smallMargin: 0.5rem;
    $largeMargin: 1.5rem;

    &.size-medium, &.size-large, &.size-full, &.size-thumbnail { display: block; }
    &.size-thumbnail.aligncenter { margin: $smallMargin auto; }
    &.size-thumbnail.alignleft { float: left; margin-top: $smallMargin; margin-right: $largeMargin; margin-bottom: $smallMargin; }
    &.size-thumbnail.alignright { float: right; margin-top: $smallMargin; margin-bottom: $smallMargin; margin-left: $largeMargin; }
  }
  p { margin-top: 0; margin-bottom: 1.5rem; }
  strong { color: #111; }

  .wp-caption {
    max-width: 100%;
    .wp-caption-text { font-size: 1rem; }
  }
}

.responses {
  @mixin hidden { opacity: 0; transform: scale(0, 0); }
  @mixin visible { opacity: 1; transform: scale(1, 1); }

  > div { transform-origin: top left; }

  .response-enter {
    @include hidden;

    &.response-enter-active {
      @include visible;
      transition: all 500ms ease-in;
    }
  }

  .response-leave {
    @include visible;

    &.response-leave-active {
      @include hidden;
      transition: all 300ms ease-out;
    }
  }
}
