.wa-header {
  height: 300px;

  @media (min-width: 64em) {
    height: 500px;
  }
}

.wa-header-logo {
  svg {
    display: block;
    height: 20px;

    @media (min-width: 64em) {
      height: 25px;
    }
  }
}

.wa-header-image {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.wa-header-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.wa-header-content-container {
  max-width: 400px;
  text-align: center;

  @media (min-width: 64em) {
    max-width: 600px;
  }
}

.wa-header-title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 1;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: 64em) {
    font-size: 2.5em;
  }
}

.wa-header-subtitle {
  font-size: 1em;
  font-weight: 400;
  margin: 0.5rem auto 0;

  @media (min-width: 64em) {
    font-size: 1.4em;
  }
}
