.wa-post-content {
  img.size-large {
    display: block;
    margin-left: calc(-1rem);
    margin-right: calc(-1rem);
    max-width: none;
    width: calc(100% + 2rem) !important;

    @media (min-width: 52em) {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
    }
  }

  a { text-decoration: underline; }
}
