@import 'ace.css';

/* tag overrides */
a {
  color: #111; text-decoration: none;
  &:hover { opacity: 0.8; }
}
blockquote { margin: 0; padding: 0; }
fieldset { border: none; }
html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin-top: 0; margin-bottom: 0; }
hr { margin-top: 0; margin-bottom: 0; }
ul { margin: 0; padding: 0; }
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  opacity: 0.5;
  cursor: text;
}

/* generic classes */
.bg-fb-blue { background-color: #3b5998; }
.fb-blue { color: #3b5998; }
.fit-y { max-height: 100%; }
.lg-h0 { @media (min-width: 64em) { font-size: 3rem; }}
.height-auto { height: auto; }
.md-h0 { @media (min-width: 52em) { font-size: 3rem; }}
.row-12 { height: 100%; }
.sans-serif { font-family: 'Overpass', sans-serif; }
.serif { font-family: 'Lora', serif; }
.lg-h0 { @media (min-width: 40em) { font-size: 3rem; }}
.ups { text-transform: uppercase; }

/* specific classes */
@mixin spacing { margin-left: 1.25rem; margin-right: 1.25rem; }
.page-x-spacing { @include spacing; }
.lg-page-x-spacing { @media (min-width: 64em) { @include spacing; } }
