@import 'ace.css';

/* tag overrides */
a {
  color: #111; text-decoration: none;
  &:hover { opacity: 0.8; }
}
blockquote { margin: 0; padding: 0; }
html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin-top: 0; margin-bottom: 0; }
ul { margin: 0; padding: 0; }

/* generic classes */
.bg-darken-5 { background-color: rgba(0, 0, 0, 0.75); }
.bg-fb-blue { background-color: #3b5998; }
.fb-blue { color: #3b5998; }
.height-auto { height: auto; }
.sans-serif { font-family: 'Overpass', sans-serif; }
.serif { font-family: 'Lora', serif; }
.ups { text-transform: uppercase; }

/* specific classes */
.header-logo { max-width: 350px; width: 70%; }
.header-icon {
  height: 30px; width: 30px;
  @media (min-width: 40em) { height: 40px; width: 40px; }
}
.modal-close-btn {
  top: -40px; right: -8px;
  svg { height: 16px; width: 16px; }
}
.post-content {
  color: #0b0b0b;
  p { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  strong { color: #111; }
}
.share-icon {
  padding: 0.25rem 0.5rem; margin-right: 0.125rem;
  span { padding-left: 0.5rem; }
  svg { height: 24px; width: 24px; }
}

/* modal animation */
.ReactModalPortal {
  > div { opacity: 0; }
  .ReactModal__Overlay {
    transition: opacity 300ms ease-out;
    &--after-open { opacity: 1; }
    &--before-close { opacity: 0; }
  }
}
