@import 'ace.css';

/* tag overrides */
a {
  color: #111; text-decoration: none;
  &:hover { opacity: 0.8; }
}
blockquote { margin: 0; padding: 0; }
html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin-top: 0; margin-bottom: 0; }
ul { margin: 0; padding: 0; }

/* generic classes */
.bg-darken-5 { background-color: rgba(0, 0, 0, 0.75); }
.bg-fb-blue { background-color: #3b5998; }
.fb-blue { color: #3b5998; }
.lg-h0 { @media (min-width: 64em) { font-size: 3rem; }}
.height-auto { height: auto; }
.md-h0 { @media (min-width: 52em) { font-size: 3rem; }}
.sans-serif { font-family: 'Overpass', sans-serif; }
.serif { font-family: 'Lora', serif; }
.lg-h0 { @media (min-width: 40em) { font-size: 3rem; }}
.ups { text-transform: uppercase; }

/* specific classes */
.page-x-spacing {
  margin-left: 1.25rem; margin-right: 1.25rem;
  @media (min-width: 66em) {
    margin-left: 0; margin-right: 0;
  }
}
