@import 'ace.css';

/* tag overrides */
a {
  color: #111; text-decoration: none;
  &:hover { opacity: 0.8; }
}
blockquote { margin: 0; padding: 0; }
fieldset { border: none; }
html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { font-weight: 800; margin-top: 0; margin-bottom: 0; }
hr { margin-top: 0; margin-bottom: 0; }
ul { margin: 0; padding: 0; }
[contenteditable=true] {
  border: 1px dashed transparent;

  &:hover {
    background-color: #fffef9;
    border-color: #ddd;
    cursor: text;
  }

  &:empty:before {
    content: attr(placeholder);
    display: block;
    opacity: 0.5;
  }
}
::placeholder { color: #bbb; }

/* generic classes */
.bg-darken-0 { background-color: rgba(0, 0, 0, 0.03125); }
.bg-fb-blue { background-color: #3b5998; }
.fb-blue { color: #3b5998; }
.fit-y { max-height: 100%; }
.height-auto { height: auto; }
.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
.row-12 { height: 100%; }
.sans-serif { font-family: 'Overpass', sans-serif; }
.serif { font-family: 'Lora', serif; }
.ups { text-transform: uppercase; }

/* specific size classes */
@mixin spacing { margin-left: 1.25rem; margin-right: 1.25rem; }
.page-x-spacing { @include spacing; }
.sm-page-x-spacing { @media (min-width: 40em) { @include spacing; } }
.md-page-x-spacing { @media (min-width: 52em) { @include spacing; } }
.lg-page-x-spacing { @media (min-width: 64em) { @include spacing; } }
@mixin h0 { font-size: 3rem; }
.h0 { @include h0; }
.sm-h0 { @media (min-width: 40em) { @include h0; }}
.md-h0 { @media (min-width: 52em) { @include h0; }}
.lg-h0 { @media (min-width: 60em) { @include h0; }}
